@model IEnumerable<Escalada.Models.Inscription>

    @{
    ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Evento
                </th>
                <th>
                    Inteira
                </th>
                <th>
                    Meia
                </th>
                <th>
                    Valor Total
                </th>
                <th>
                    Valor Recebido
                </th>
                <th>
                    Pagamento
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdInteira)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdMeia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorRecebido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPagamento.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>