@model Escalada.Models.Event

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataTermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quorum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quorum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orcamentoPrevio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orcamentoPrevio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorIngresso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorIngresso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
