@model Escalada.Models.ViewModels.EventDetailsViewModel

@{
    ViewData["Title"] = "Detalhes do evento";
}

<h1>@Html.DisplayFor(model => model.Evento.Nome)</h1>

<h4>Detalhes</h4>

@if (Model.Evento.Excluido)
{
    <div class="alert alert-danger mb-4">Este evento foi excluído do sistema e está arquivado para consulta.</div>
}

<div class="row mb-3">
    <div class="col-6">
        <a asp-action="Index">Retornar à lista</a>
    </div>
    <div class="col-6 text-right">
        @if (!Model.Evento.Excluido)
        {
            <a class="btn btn-sm btn-outline-secondary mr-2" asp-action="Edit" asp-route-id="@Model.Evento.Id">Editar evento</a>
        }
    </div>
</div>

<div class="mb-4">
    <div class="card card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.Nome)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.DataInicio)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.DataInicio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.DataTermino)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.DataTermino)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.Local)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.Local)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.Capacidade)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.Capacidade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.Quorum)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.Quorum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.OrcamentoPrevio)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.OrcamentoPrevio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.ValorIngresso)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.ValorIngresso)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.Cronograma)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.Cronograma)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Evento.Status)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Evento.Status.Name)
            </dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-between mb-4">
    <div>
        <h4>Vendas de ingressos</h4>
    </div>
    @if (!@Model.Evento.Excluido)
    {
        <div>
            <a class="btn btn-primary" href="/Inscription/Create?eventId=@Model.Evento.Id">Vender ingresso</a>
        </div>
    }
</div>

<div class="row mb-4">
    <div class="col-md-4">
        @Model.IngressosVendidos/@Model.Evento.Capacidade ingressos vendidos
    </div>
    <div class="col-md-4 text-md-center">
        @if (Model.IngressosRestantes > 0)
        {
            @($"{Model.IngressosRestantes} restantes");
        }
        else
        {
            @("Todos os ingressos foram vendidos");
        }
    </div>
    <div class="col-md-4 text-md-right">
        R$ @Model.ValorArrecadado arrecadados no total
    </div>
</div>


<div class="mb-4">
    <div class="progress">
        <div class="progress-bar bg-primary" style="width: @Model.PorcentagemVendidos%; max-width: 100%"></div>
    </div>
</div>

<p class="text-black-50 text-center">Ingressos vendidos:</p>

@if (!Model.Evento.Inscricoes.Any())
{
    <div class="alert alert-light">Nenhum ingresso foi vendido para esse evento</div>
}
else
{
    <ul class="list-group">
        @foreach (var inscricao in Model.Evento.Inscricoes)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <span>@inscricao.Cliente.Nome</span>
                    </div>
                    <div class="col-md-4">
                        <span class="badge badge-pill badge-primary">@inscricao.QtdInteira inteiras</span>
                        <span class="badge badge-pill badge-secondary">@inscricao.QtdMeia meias</span>

                        <span>
                            Pago: R$ @inscricao.ValorRecebido
                            @if (inscricao.ValorDevido == 0)
                            {
                                <span class="badge badge-pill badge-success">Pago</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-danger">Em falta</span>
                            }
                        </span>
                    </div>
                    <div class="col-md-4 text-md-right">
                        <a asp-controller="Inscription" asp-action="Details" asp-route-id="@inscricao.Id">Ver detalhes</a>
                    </div>
                </div>
            </li>
        }
    </ul>
}